@import '../assets/fonts/_fonts', '_reset';


$font: 'Lato', Arial, sans-serif;

html {
    font-family: $font;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 77px;
    gap: 20px;

    &__logo {
        font-weight: 700;

        span {
            position: relative;
            bottom: 4px;
            color: #EDFF7E;
        }
    }

    &__navigation {
        font-size: 12px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__list-item {
        display: flex;
        align-items: center;

        &_active {
            color: #EDFF7E;
        }

        +.header__list-item {
            &::before {
                content: '';
                display: block;
                width: 3px;
                height: 3px;
                margin: 0 40px;
                background-color: white;
                border-radius: 50%;
            }
        }

    }
}

.home {
    &__content {
        background-color: #7067CF;
        padding: 54px 40px 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        &_arrow-right {
            transform: rotate(180deg);
        }
    }
}